html,
body {
  height: 100%;
  width: 100%;
  background: url("background.png");
  color: #cccccc;
}

.QuestionQGrid,
.GameEndScreenGrid {
  font-style: Roboto;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-size: 250%;
  align-items: center;
  cursor: default;
  vertical-align: bottom;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.QuestionBox,
.AnswerBox {
  background-color: #cccccc;
  color: black;
}

.QuestionBox {
  text-align: center;
  border-radius: 20px;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 1.5ex;
  margin-bottom: 5%;
  display: block;
}

.AnswerBox {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  border-radius: 20px;
  margin-bottom: 1ex;
}

.AnswerBox:before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 56.25%;
  /* */
}

.AnswerBox:after {
  content: "";
  clear: both;
}

.AnswerBox > .AnsBoxContent {
  text-align: center;
  word-wrap: break-word;
  min-width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*
.AnswerBox {
  text-align: center;
  border-radius: 20px;
  position: relative;

  padding-top: 1ex;
  padding-bottom: 1ex;

  margin-bottom: 1ex;
  background-color: whitesmoke;
}
*/
.AnswerBox:hover {
  background-color: darkgray;
}
/*
.GameTimeCol {
  position: relative;
  content: "";
  display: block;
  padding-bottom: 100%;
}
*/

.GameTime {
  position: absolute;
  border-radius: 0;
  bottom: 0;
  width: 16.75ex;
  height: 3ex;
  transform: rotate(-90deg) scale(1, -1);
  transform-origin: 0% 100%;
}
.Score {
  margin-top: 1.5ex;
  color: #cccccc;
}
.row {
  display: flex;
}

.GameEndScreenGrid {
  color: #cccccc;
}
.GameEndRow {
}

@font-face {
  font-family: Roboto;
  src: "https://fonts.googleapis.com/css?family=Roboto:400,400i,700";
}
