html,
body {
  height: 100%;
  width: 100%;
  background: url("background.png");
}
.MainGrid {
  font-style: Roboto;
  text-align: center;
  color: #cccccc;
}
.MainGrid_Heading {
  font-size: 400%;
}
.logoIMG {
  max-width: 50%;
  max-height: 100%;
  margin-top: 15%;
}
@font-face {
  font-family: Roboto;
  src: "https://fonts.googleapis.com/css?family=Roboto:400,400i,700";
}
